<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/css/bulma.min.css" />
    <title>eShop Application - {% block title %}{% endblock %}</title>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div id="navbarMain" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/"> Home </a>

          <a class="navbar-item" href="https://www.djangoproject.com/"> Docs </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> Products </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="/products/product_category/list"> List </a>
              <a class="navbar-item"> Add </a>
              <a class="navbar-item"> Change </a>
              <hr class="navbar-divider" />
              <a class="navbar-item"> Delete </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
