{% extends 'menu.html' %}

{% block title %}Customers{% endblock %}

{% block content %}
    <div class='container my-2'>
        <div class='p-3 text-left bg-body-tertiary rounded-3 col-md-auto'>
            <h1 class='display-6'>Customers</h1>
            <table class='table table-hover table-striped'>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Type</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for customer in customers %}
                        <tr>
                            <th>{{ customer.id }}</th>
                            <td>{{ customer.name }}</td>
                            <td>{{ customer.email }}</td>
                            <td>{{ customer.phone }}</td>
                            <td>{{ customer.type }}</td>
                            <td>
                                <a href="{{ url_for('customers.edit', id=customer.id) }}" class="btn btn-secondary btn-sm">Edit</a>
                                <a href="{{ url_for('customers.delete', id=customer.id) }}" class='btn btn-danger btn-sm' onClick="return confirm('Are you sure?')">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{{ url_for('customers.add') }}" class='btn btn-success btn-sm'>Add</a>
        </div>
    </div>
{% endblock %}
