{% extends 'menu.html' %}

{% block title %}Add Customer{% endblock %}

{% block content %}

    <div class='container my-2'>
        <div class='p-3 text-left bg-body-tertiary rounded-3 col-md-auto'>
            <h1 class='display-6'>Add Customer</h1>
            <form method='POST'>
                <div class='mb-3'>
                    <label for='name' class='form-label'>Name</label>
                    <input type='text' class='form-control' id='name' name='name'>
                </div>
                <div class='mb-3'>
                    <label for='email' class='form-label'>Email</label>
                    <input type='email' class='form-control' id='email' name='email'>
                </div>
                <div class='mb-3'>
                    <label for='phone' class='form-label'>Phone</label>
                    <input type='text' class='form-control' id='phone' name='phone'>
                </div>
                <div class='mb-3'>
                    <label for='type' class='form-label'>Type</label>
                    <select class='form-select' id='type' name='type'>
                        {% for type in ['Employee','Customer','Vendor','Partner'] %}
                            <option value='{{ type }}'>{{ type }}</option>
                        {% endfor %}
                    </select>
                    </select>
                </div>
                <button type='submit' class='btn btn-primary'>Save</button>
                <a href="{{ url_for('customers.index') }}" class='btn btn-secondary'>Cancel</a>
            </form>
        </div>
    </div>

{% endblock %}
